language: python

python:
    - 2.7
    - 3.3

env:
    - NUMPY_VERSION=1.8 ASTROPY_VERSION=0.3.1 SETUP_CMD='test'

before_install:
   - source .setup_conda.sh $TRAVIS_PYTHON_VERSION
   - export PATH=/home/travis/anaconda/bin:/home/travis/miniconda3/bin:$PATH

install:
   - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy=$NUMPY_VERSION astropy=$ASTROPY_VERSION pytest pip
   - pip install pytest-cov coveralls

script:
   - if [[ $SETUP_CMD == test ]]; then cd spectral_cube/tests/data ; make ; cd ../../../ ; fi
   - if [[ $SETUP_CMD == test ]]; then py.test --cov spectral_cube ; fi

after_success:
 - if [[ $SETUP_CMD == cov ]]; then coveralls; fi